.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.menu__title {
  max-width: 780px;
  text-align: center;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  padding-top: 100px;
  margin: 0 auto;
}

.menu__subtitle {
  max-width: 780px;
  text-align: center;
  font-family: "Noto Serif", Times New Roman, serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  margin: 24px auto 0;
}

.menu__cards {
  display: flex;
  color: #ffffff;
  margin: 100px auto 0;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 100px;
  padding-bottom: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  flex-basis: 50%;
  margin: 0;
}

.card__third {
  margin-top: 100px;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  padding-bottom: 32px;
  margin: 0;
}

.card__content {
  list-style: none;
  margin: 0;
  padding: 0;
}

.card__list-item {
  font-family: "Noto Serif", Times New Roman, serif;
  padding: 0 0 16px;
  display: flex;
  margin: 0;
}

.card__list-item:last-of-type {
  padding-bottom: 0;
}

.card__list-divider {
  border-bottom: 2px solid white;
  flex-grow: 1;
  align-self: stretch;
}
